rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function isBazaarMember(bazaarId) {
      return exists(/databases/$(database)/documents/bazaar_members/$(bazaarId)_$(request.auth.uid));
    }

    function isBazaarOwner(bazaarId) {
      return get(/databases/$(database)/documents/bazaars/$(bazaarId)).data.ownerId == request.auth.uid;
    }

    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /bazaars/{bazaarId} {
      allow read: if request.auth != null && isBazaarMember(bazaarId);
      allow create: if false;
      allow update: if request.auth != null && isBazaarOwner(bazaarId);
      allow delete: if request.auth != null && isBazaarOwner(bazaarId);
    }

    match /bazaar_members/{memberId} {
      allow read: if request.auth != null && (
        isBazaarMember(resource.data.bazaarId)
      );
      allow create: if request.auth != null && (
        isBazaarOwner(request.resource.data.bazaarId)
      );
      allow delete: if request.auth != null && (
        isBazaarOwner(resource.data.bazaarId)
        && resource.data.role != 'OWNER'
      );
      allow update: if request.auth != null && (
        isBazaarOwner(resource.data.bazaarId)
        || (
          resourceId == request.auth.uid + "_" + request.auth.token.email
          && request.resource.data.status == "active"
          && resource.data.status == "pending"
        )
      );
    }

    match /products/{productId} {
      allow read: if request.auth != null && (
        isBazaarMember(resource.data.bazaarId)
      );
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null 
        && resource.data.ownerId == request.auth.uid;
    }

    match /sales/{saleId} {
      allow read: if request.auth != null && (
        isBazaarMember(resource.data.bazaarId)
      );
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null 
        && resource.data.ownerId == request.auth.uid;
    }

    match /settings/{docId} {
      allow read, write: if request.auth != null;
    }
  }
}
