# Environment Mode for PagSeguro Integration: dev | prod
ENV_MODE=dev

# PagSeguro Production Credentials (used when ENV_MODE=prod)
PAGSEGURO_EMAIL=seu_email_pagseguro@dominio.com
PAGSEGURO_TOKEN=seu_token_pagseguro
